
<form>
  <input type="text" [(ngModel)]="firstName"  placeholder="Imię" name="imię">
  <input type="text" [(ngModel)]="familyName"  placeholder="Nazwisko" name="nazwisko">
  <input type="number" [(ngModel)]="age"  placeholder="Wiek" name="wiek">
  <input type="text" [(ngModel)]="city"  placeholder="Miasto" name="miasto">
  <input type="text" [(ngModel)]="street"  placeholder="Ulica" name="ulica">
  <input type="text" [(ngModel)]="postCode"  placeholder="Kod pocztowy" name="kod">
  <button type="button" (click)="onAddClick()">Dodaj nowa osobe</button>
</form>

