//! **************************************************************************
// Written by: Map P.20131013 on Wed Jun 03 10:53:29 2020
//! **************************************************************************

SCHEMATIC START;
COMP "oSOUND" LOCATE = SITE "C5" LEVEL 1;
COMP "iCLK" LOCATE = SITE "C9" LEVEL 1;
NET "iCLK_BUFGP/IBUFG" BEL "iCLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

